apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: clickhouse
data:
  # Основной конфигурационный файл ClickHouse
  config.xml: |
    <yandex>
      <logger>
        <level>info</level>
        <console>true</console>
      </logger>
      
      <listen_host>0.0.0.0</listen_host>
      
      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
      
      <max_connections>4096</max_connections>
      <keep_alive_timeout>3</keep_alive_timeout>
      
      <uncompressed_cache_size>8589934592</uncompressed_cache_size>
      <mark_cache_size>5368709120</mark_cache_size>
    </yandex>
  
  # Файл с настройками пользователей
  users.xml: |
    <yandex>
      <profiles>
        <default>
          <max_memory_usage>10000000000</max_memory_usage>
          <use_uncompressed_cache>0</use_uncompressed_cache>
          <load_balancing>random</load_balancing>
        </default>
      </profiles>
      
      <users>
        <!-- Пользователь по умолчанию -->
        <default>
          <password></password>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip>
          </networks>
          <quota>default</quota>
        </default>
        
        <!-- Дополнительные пользователи будут добавлены через Helm values -->
      </users>
      
      <quotas>
        <default>
          <interval>
            <duration>3600</duration>
            <queries>0</queries>
            <errors>0</errors>
            <result_rows>0</result_rows>
            <read_rows>0</read_rows>
            <execution_time>0</execution_time>
          </interval>
        </default>
      </quotas>
    </yandex>
