apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: clickhouse
  labels:
    app: clickhouse
spec:
  ports:
  - port: 8123
    name: http
    targetPort: 8123
  - port: 9000
    name: tcp
    targetPort: 9000
  selector:
    app: clickhouse
  type: {{ .Values.service.type }}
